# Pandas concat operation:

In [1]:
import pandas as pd

In [10]:
a = [["a", "b", "c"], ["1", "2", "3"]]
dfA = pd.DataFrame(data=a, columns=["One", "Two", "Three"])

b = [["z", "y", "w"], ["8", "9", "10"]]
dfB = pd.DataFrame(data=b, columns=["last", "Slast", "Thlast"])

In [11]:
dfA

  One Two Three
0   a   b     c
1   1   2     3

In [13]:
dfB

  last Slast Thlast
0    z     y      w
1    8     9     10

In [18]:
df = pd.concat([dfA, dfB], axis = 1)
df

  One Two Three last Slast Thlast
0   a   b     c    z     y      w
1   1   2     3    8     9     10