# Pandas concat operation:

In [1]:
import pandas as pd

In [3]:
a = [["a", "b", "c"], ["1", "2", "3"]]
dfA = pd.DataFrame(data=a, columns=["One", "Two", "Three"])

b = [["z", "y", "w"], ["8", "9", "10"]]
dfB = pd.DataFrame(data=b, columns=["last", "Slast", "Thlast"])

In [4]:
dfA

  One Two Three
0   a   b     c
1   1   2     3

In [5]:
dfB

  last Slast Thlast
0    z     y      w
1    8     9     10

In [6]:
df = pd.concat([dfA, dfB], axis = 1)
df

  One Two Three last Slast Thlast
0   a   b     c    z     y      w
1   1   2     3    8     9     10

# JSON to Pandas dataframe:

In [1]:
tetData = pd.read_json("../input/TEST.json", orient='index')
tetData.fillna(0)

NameError: name 'pd' is not defined

In [4]:
import pandas as pd
import numpy as np

from sklearn.svm import SVC

df = pd.DataFrame({"x": ['011', '100', '111'] , "y": [0,1,0]})

df
# x = df.x.apply(lambda x: pd.Series(list(x)))
# x
# Out[2]:
#    0  1  2
# 0  0  1  1
# 1  1  0  0
# 2  1  1  1

# SVC().fit(x, df.y)

     x  y
0  011  0
1  100  1
2  111  0